# PORT=5001
# CLIENT_URL=http://localhost:3002
# GEMINI_API_KEY=AIzaSyD-_Bk34fhBVOvGF7uGd6f0kUq06X5szKU
# MONGO_URI=mongodb+srv://oriyaperel18_db_user:<OriyaMongo999>@cluster0.wv6bhx9.mongodb.net/?appName=Cluster0
# GOOGLE_CLIENT_ID=293997669119-xxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxxxxxxxxxx
# GOOGLE_CALLBACK_URL=http://localhost:5001/auth/google/callback
